.image {
    height: auto;
    width: 100%;
    max-width: 35vw;
}

.allBody {
    font-family: Helvetica, Roboto, Times, serif;
    text-align: center;
    background-color: black;
    color:white;
}

.recipebody {
    text-align:left
}

.butt {
    font-family: Helvetica, Roboto, Times, serif;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.5vw;
    border-radius: 5%;
    transition-duration: 1s;
    padding: .5vw 2vw;
}

.butt:hover {
    background-color: white;
    color: black;
}

.mainbutt {
    
}


/* index.html main css */

#mainheader {
    font-size: 15vw;
    color: white;
}

#mainlist {
    font-size: 5vw;
    white-space: normal;
    color:white;
    list-style: none;
}
