.image {
    height: auto;
    width: 100%;
    max-width: 20vw;
}

body {
    font-family: Helvetica, Roboto, Times, serif;
    text-align: center;
}

/* index.html main css */

#mainheader {
    font-size: 15vw;
}

#mainlist {
    font-size: 5vw;
    white-space: normal;
    color:black; 
    list-style: none;
}
